<html class="flex">
  <div class="w-[50%] flex flex-col gap-2">
    <app-forms-author
      [author]="authorUpdate"
      (formSubmit)="handleFormSubmitAuthor($event)"
    ></app-forms-author>

    <app-author-list
      [authors]="authors"
      (authorSelected)="getBooksAuthor($event)"
      (authorEvent)="onUpdateAuthor($event)"
      (reload)="getAllbooks()"
    ></app-author-list>
  </div>
  <div class="p-4 flex flex-col gap-2">
    <app-book-form
      [book]="bookUpdate"
      [authors]="authors"
      (formSubmit)="handleFormSubmitBook($event)"
    ></app-book-form>

    <app-books-list
      (updateBooksEvent)="onUpdateBook($event)"
      (deleteBookEvent)="deleteBooksSubmit($event)"
      [booksAuthor]="booksAuthor"
    ></app-books-list>
  </div>
</html>
